<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OdinWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link href="~/css/img.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">
    <header class="app-header">
        <a class="app-header__logo" asp-controller="Home" asp-action="Index">Radiadores Odín</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        
        <ul class="app-nav">
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" asp-controller="User" asp-action="Profile"><i class="fa fa-user fa-lg"></i> Perfil</a></li>
                    <li><a class="dropdown-item" asp-controller="Auth" asp-action="ChangePassword"><i class="fa fa-lock fa-lg"></i> Cambiar Contraseña</a></li>
                    <li><a class="dropdown-item" asp-controller="Auth" asp-action="CerrarSesion"><i class="fa fa-sign-out fa-lg"></i>Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <div>

                <p class="app-sidebar__user-name">
                    @if (Context.Request.Cookies.ContainsKey("NombreCompleto"))
                    {
                        var ima = Context.Request.Cookies["Foto"];
                        var nombreCompleto = Context.Request.Cookies["NombreCompleto"];
                        <img src="~/images/Users/@ima" width="30" height="30">
                        @nombreCompleto
                    }
                    else
                    {
                        <span>User</span>
                    }
                </p>
                <br />
                <p class="app-sidebar__user-designation">Administrador</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item" asp-action="Index" asp-controller="Home"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Inicio</span></a></li>
            <li><a class="app-menu__item" asp-action="Home" asp-controller="Servicio"><i class="app-menu__icon fa fa-solid fa-car"></i><span class="app-menu__label">Servicios</span></a></li>
            <li><a class="app-menu__item" asp-action="Home" asp-controller="Cliente"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Clientes</span></a></li>
            <li><a class="app-menu__item" asp-action="Home" asp-controller="Supervisor"><i class="app-menu__icon fa fa-address-book-o"></i><span class="app-menu__label">Supervisores</span></a></li>
            <li><a class="app-menu__item" asp-action="Home" asp-controller="Branch"><i class="app-menu__icon fa fa-building"></i><span class="app-menu__label">Sucursales</span></a></li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-ticket"></i>
                    <span class="app-menu__label">Tiquetes</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a class="treeview-item" asp-action="TiquetesProcesoAS" asp-controller="Ticket">
                            <i class="icon fa fa-user"></i>
                            Tiquetes Asignados
                        </a>
                        <a class="treeview-item" asp-action="TiquetesProcesoAS" asp-controller="Ticket">
                            <i class="icon fa fa-user"></i>
                            Tiquetes Cerrados
                        </a>
                        <a class="treeview-item" asp-action="BranchByTickets" asp-controller="Branch">
                            <i class="icon fa fa-user"></i>
                            Tiquetes por sucursal
                        </a>
                    </li>
                    <li>
                       @* <a class="treeview-item" asp-action="Home" asp-controller="Ticket" asp-route-filtro="Open">
                            <i class="icon fa fa-exclamation-circle"></i>
                            Tiquetes Cerrados
                        </a>*@
                    </li>
                </ul>
            </li>
@*            <li><a class="app-menu__item" asp-action="HCliente" asp-controller="Servicio"><i class="app-menu__icon fa fa-pencil-square"></i><span class="app-menu__label">Crear Tiquete</span></a></li>
*@            <li><a class="app-menu__item" href=""><i class="app-menu__icon fa fa-bar-chart"></i><span class="app-menu__label">Reportes</span></a></li>
        </ul>
    </aside>
    <main role="main" class="app-content">
        @RenderBody()
    </main>
    <!-- The javascript plugin to display page loading on top-->
    
    <!-- Page specific javascripts-->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/chart.js"></script>
    <script src="~/js/plugins/pace.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/chart.js"></script>
    <script src="~/js/main.js"></script>
    @if (!string.IsNullOrEmpty(TempData["AlertMessage"] as string))
    {
        <script>
            Swal.fire({
                icon: '@TempData["AlertType"]',
                title: '@TempData["AlertMessage"]',
                showConfirmButton: false,
                timer: 3000 // Duración de la alerta en milisegundos (2 segundos en este ejemplo)
            }).then(function () {
                // Limpiar TempData después de mostrar la alerta
                '@TempData.Remove("AlertType")';
                '@TempData.Remove("AlertMessage")';
            });
        </script>
    }
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("modals", required: false)
</body>
</html> 
}