@model OdinWeb.Models.Obj.Ticket

@{
    ViewData["Title"] = "CrearTiquete";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}
<style>
    .dropzone {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        position: relative; /* Añadido */
    }

    .file-container {
        background-color: #f2f2f2;
        padding: 10px;
        margin-bottom: 10px;
    }

    .file-item {
        position: relative;
        display: inline-block;
        margin: 10px;
        text-align: center;
        width: 120px;
    }

    .file-icon {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        background-color: #f2f2f2;
        margin-bottom: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .file-info {
        font-size: 12px;
        color: #333;
        padding: 5px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .file-info span {
            display: block;
        }

    .file-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .file-size {
        margin-top: 5px;
    }

    .file-remove {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #333;
        cursor: pointer;
    }

    .documents-toggle {
        cursor: pointer;
    }

    .documents-container {
        display: none;
        margin-top: 10px;
    }

    .document-item {
        margin-bottom: 10px;
    }

</style>

<div class="app-title">

    <div>
        <h1><i class="fa fa-create"></i>Editar Tiquete</h1>
        <p>Editar Tiquete</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Cliente" asp-action="Principal"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a a asp-controller="Ticket" asp-action="TiquetesProceso">Tiquetes en proceso</a></li>
        <li class="breadcrumb-item active">Editar</li>

    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <div class="row">
            <div class="col-md-9">
                <h3 class="tile-title">Cod-@Model.id</h3>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#verRequeri">Ver requisitos</button>
            </div>
        </div>
        <div class="tile-body">
            <form class="form-horizontal" id="crearT" asp-action="EditarTiquete" asp-controller="Ticket" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="id" value="@Model.id">

                <div class="form-group row">
                    <label asp-for="title" class="control-label"></label>
                    <h6>@Model.title</h6>
                </div>

                <div class="form-group row">
                    <label asp-for="description" class="control-label"></label>
                    <div class="col-md-12">
                        <textarea asp-for="description" class="form-control" rows="15" placeholder="Describa ampliamente la solicitud" name="description"></textarea>
                    </div>
                    <span asp-validation-for="description" class="text-danger"></span>

                </div>
                    @if (Model.service.transport)
                    {
                    <div class="form-group row">
                        <label asp-for="ubication" class="control-label"></label>
                        <div class="col-md-12">
                            <textarea asp-for="ubication" class="form-control" rows="5" placeholder="Ingrese la dirracion exacta de la solicitud o puede pegar el enlace de la ubicación" name="ubication"></textarea>
                        </div>
                        <span asp-validation-for="ubication" class="text-danger"></span>

                    </div>
                    }

                <div class="ticket-section">
                    <h6 class="documents-toggle btn btn-primary" onclick="toggleDocuments()" id="toggle-button">Mostrar Documentos</h6>
                    <div id="documents-container" style="display: none;">
                            @if (Model.documents != null && Model.documents.Count > 0)
                            {
                                foreach (var item in Model.documents)
                                {

                                <h5>
                                    <span class="d-inline-block">@Html.DisplayFor(m => item.nameDocument)</span>
                                    <span class="d-inline-block ml-2">
                                        <button class="btn btn-success btn-sm" type="button" onclick="downloadDocument('@item.name')">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info btn-sm" type="button" onclick="viewDocument('@item.name')">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" type="button" onclick="deleteDocument('@item.id')">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </h5>
                                }
                            }
                            else
                            {
                            <p>No hay documentos disponibles.</p>
                            }
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label asp-for="Archivos" class="control-label"></label>
                    <div class="dropzone" id="dropzone">
                        Arrastra y suelta los archivos aquí<br>
                        <small>O haz clic aqui para seleccionar archivos</small>
                        <input type="file" name="Archivos" id="fileInput" multiple style="display: none;">

                        <div id="fileList"></div>
                    </div>                    
                    <span asp-validation-for="Archivos" class="text-danger"></span>
                </div>
                


                <div class="tile-footer">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <a class="btn btn-secondary" href="javascript:history.go(-1)"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                            <button class="btn btn-primary ml-auto" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Editar</button>
                        </div>
                     </div>
                 </div>
            </form>
        </div>
    </div>
</div>
@section modals{

    <div class="modal" id="verRequeri">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Requisitos del servicio</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>@Model.service.requirements</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>

        $(document).ready(function () {
            $('.modal').on('click', function () {
                $('.modal').modal('hide');
            });
        });

        var fileInput = document.getElementById('fileInput');
        var fileList = document.getElementById('fileList');
        var dropzone = document.getElementById('dropzone');
        var files = [];

        dropzone.addEventListener('click', function () {
            fileInput.click();
        });

        dropzone.addEventListener('dragover', function (event) {
            event.preventDefault();
            dropzone.classList.add('dragover');
        });

        dropzone.addEventListener('dragleave', function () {
            dropzone.classList.remove('dragover');
        });

        dropzone.addEventListener('drop', function (event) {
            event.preventDefault();
            dropzone.classList.remove('dragover');

            var droppedFiles = event.dataTransfer.files;
            handleFiles(droppedFiles);
        });

        fileInput.addEventListener('change', function (event) {
            var selectedFiles = event.target.files;
            handleFiles(selectedFiles);
        });

        function handleFiles(selectedFiles) {
            fileList.innerHTML = '';
            files = [];

            for (var i = 0; i < selectedFiles.length; i++) {
                var file = selectedFiles[i];
                files.push(file);
                addFileToList(file);
            }
        }

        function addFileToList(file) {
            var fileItem = document.createElement('div');
            fileItem.classList.add('file-item');

            var fileContainer = document.createElement('div');
            fileContainer.classList.add('file-container');

            var fileName = document.createElement('span');
            fileName.classList.add('file-name');
            fileName.textContent = file.name;

            var fileSize = document.createElement('span');
            fileSize.classList.add('file-size');
            fileSize.textContent = getFileSize(file.size);

            var fileRemove = document.createElement('div');
            fileRemove.classList.add('file-remove');
            fileRemove.innerHTML = '&times;';
            fileRemove.addEventListener('click', function () {
                removeFileFromFileList(file);
                fileItem.remove();
            });

            fileContainer.appendChild(fileName);
            fileContainer.appendChild(fileSize);
            fileItem.appendChild(fileContainer);
            fileItem.appendChild(fileRemove);
            fileList.appendChild(fileItem);
        }

        function removeFileFromFileList(file) {
            var index = files.indexOf(file);
            if (index !== -1) {
                files.splice(index, 1);
            }
        }

        function getFileSize(size) {
            var i = Math.floor(Math.log(size) / Math.log(1024));
            var units = ['B', 'KB', 'MB', 'GB', 'TB'];
            return (size / Math.pow(1024, i)).toFixed(2) + ' ' + units[i];
        }
        function toggleDocuments() {
            var documentsContainer = document.getElementById("documents-container");
            var toggleButton = document.getElementById("toggle-button");

            if (documentsContainer.style.display === "none") {
                documentsContainer.style.display = "block";
                toggleButton.textContent = "Ocultar Documentos";
            } else {
                documentsContainer.style.display = "none";
                toggleButton.textContent = "Mostrar Documentos";
            }
        }
        function downloadDocument(documentName) {
            var url = '@Url.Action("DownloadDocument", "Ticket")'; // Reemplaza "NombreControlador" por el nombre real de tu controlador

            // Realizar una solicitud de descarga mediante una redirección
            window.location.href = url + "?name=" + documentName;
        }
        function viewDocument(documentName) {
            var url = '@Url.Action("ViewDocument", "Ticket")'; // Reemplaza "NombreControlador" por el nombre real de tu controlador

            // Abrir el documento en una nueva ventana del navegador
            window.open(url + "?name=" + documentName, "_blank");
        }

        function deleteDocument(documentId) {
            // Mostrar mensaje de confirmación utilizando SweetAlert2
            Swal.fire({
                icon: 'warning',
                title: 'Confirmar eliminación',
                text: '¿Estás seguro de que deseas eliminar este documento?',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza la solicitud Ajax si se confirma la eliminación
                    $.ajax({
                        url: '/Document/Delete',
                        type: 'POST',
                        data: { id: documentId },
                        success: function (result) {
                            // Verifica si la eliminación fue exitosa
                            if (result === true) {
                                // Muestra una alerta de éxito utilizando SweetAlert2
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Documento eliminado',
                                    text: 'El documento ha sido eliminado correctamente.',
                                    timer: 2000, // Duración del mensaje de éxito en milisegundos (2 segundos en este caso)
                                    showConfirmButton: false
                                }).then(() => {
                                    // Recarga la página después de cerrar la alerta de éxito
                                    location.reload();
                                });
                            } else {
                                // Muestra una alerta de error utilizando SweetAlert2
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error al eliminar documento',
                                    text: 'No se pudo eliminar el documento. Por favor, intenta nuevamente.'
                                });
                            }
                        },
                        error: function () {
                            // Muestra una alerta de error en caso de que ocurra un error en la solicitud Ajax
                            Swal.fire({
                                icon: 'error',
                                title: 'Error de conexión',
                                text: 'No se pudo realizar la solicitud. Por favor, verifica tu conexión e intenta nuevamente.'
                            });
                        }
                    });
                }
            });
        }



    </script>


}

