@model IEnumerable<OdinWeb.Models.Obj.Ticket>

@{
    ViewData["Title"] = "TiquetesCerrados";
    if (Context.Request.Cookies["Rol"] == "Cliente")
    {
        Layout = "~/Views/Shared/_ClienteLayout.cshtml";
    }
    if (Context.Request.Cookies["Rol"] == "Supervisor")
    {
        Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
    }
}
<div class="app-title">
    <div>
        <h1><i></i>Administración de Tiquetes</h1>
        <p>Información de Tiquetes registrados</p>
        </br>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tiquetes</li>
        <li class="breadcrumb-item active"><a href="#">Estado Tiquetes</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="ttiquete">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.title)</th>
                                <th>@Html.DisplayNameFor(model => model.creationDate)</th>
                                <th>@Html.DisplayNameFor(model => model.closeDate)</th>
                                @if (Context.Request.Cookies["Rol"] == "Cliente")
                                {
                                    <th>@Html.DisplayNameFor(model => model.supervisor)</th>
                                }
                                @if (Context.Request.Cookies["Rol"] != "Cliente")
                                {
                                    <th>@Html.DisplayNameFor(model => model.client)</th>
                                }
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var ticket in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => ticket.title)</td>
                                        <td>@Html.DisplayFor(model => ticket.creationDate)</td>
                                        <td>@Html.DisplayFor(model => ticket.closeDate)</td>
                                        @if (Context.Request.Cookies["Rol"] == "Cliente")
                                        {
                                            <td>@Html.Raw(ticket.supervisor.name + " " + ticket.supervisor.lastName)</td>

                                        }
                                        @if (Context.Request.Cookies["Rol"] != "Cliente")
                                        {
                                            <td>@Html.Raw(ticket.client.name + " " + ticket.client.lastName)</td>

                                        }
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" asp-action="VerTiquete" asp-controller="Ticket" asp-route-id="@ticket.id"><i class="fa fa-lg fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#ttiquete').DataTable();</script>
}


