@model OdinWeb.Models.Obj.Ticket

@{
    ViewData["Title"] = "Ver Tiquete";
    if (Context.Request.Cookies["Rol"] == "Supervisor")
    {
        Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
    }
}

<link href="~/css/excss.css" rel="stylesheet" />
<div class="app-title">

    <div>
        <h1><i class="fa fa-create"></i>Información del Tiquete</h1>
        <p>Ver Tiquete</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item"><a asp-action="TiquetesProcesoAS" asp-controller="Ticket">Tiquetes en proceso</a></li>
            <li class="breadcrumb-item active">Ver</li>

        </ul>
    </ul>
</div>
<div class="col-md-8" style="margin: 0 auto;">
    <div class="tile">
        <div class="row">
            <div class="col-md-6">
                <h3 class="tile-title">Cod-@Model.id</h3>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary" data-toggle="modal" data-target="#clienteV">Información del Cliente</button>
            </div>
        </div>
        <hr>
        <div class="tile-body">
            <div class="ticket-section">
                <h4>@Html.DisplayFor(model => model.title)</h4>

                <div>
                    <h6>Descripcion</h6>
                    <p>@Html.DisplayFor(model => model.description)</p>

                </div>
            </div>
            <div class="ticket-section">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Fecha de inicio</h6>
                        <div class="ticket-section-content">
                            <p>@Html.DisplayFor(model => model.creationDate)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Última actualización</h6>
                        <div class="ticket-section-content">
                            <p>@Html.DisplayFor(model => model.updateDate)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ticket-section">
                <div class="row">
                    @if (Model.estimatedDate != null)
                    {
                        <div class="col-md-6">
                            <h6>Fecha estimada</h6>
                            <div class="ticket-section-content">
                                <p>@Html.DisplayFor(model => model.estimatedDate)</p>
                            </div>
                        </div>
                    }
                    @if (Model.closeDate != null)
                    {
                        <div class="col-md-6">
                            <h6>Fecha de cierre</h6>
                            <div class="ticket-section-content">
                                <p>@Html.DisplayFor(model => model.closeDate)</p>
                            </div>
                        </div>

                    }
                </div>
            </div>


            <div class="ticket-section">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Supervisor a Cargo</h6>
                        <div class="ticket-section-content">
                            <p>@Html.Raw(Model.supervisor.name + " " + Model.supervisor.lastName)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Cliente</h6>
                        <div class="ticket-section-content">
                            <div class="row">
                                    <p>@Html.Raw(Model.client.name + " " + Model.client.lastName)</p>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Servicio</h6>
                        <div class="ticket-section-content">
                            <p>@Html.DisplayFor(model => model.service.name)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ticket-section">
                <div class="animated-checkbox">
                    <label>
                        <input type="checkbox" id="toggle-comments-checkbox" onclick="toggleComments()"><span class="label-text">Mostrar Comentarios</span>
                    </label>
                </div>
                <div id="comments-container" style="display: none;">
                    @if (Model.comments != null && Model.comments.Count > 0)
                    {
                        foreach (var item in Model.comments)
                        {
                            <div class="comment-section">
                                <div class="comment-author">@item.user.name @item.user.lastName</div>
                                <div class="comment-date">Fecha: @item.date.ToString("yyyy-MM-dd HH:mm")</div>
                                <div class="comment-text">@Html.DisplayFor(m => item.description)</div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No hay comentarios disponibles.</p>
                    }
                    @if (Model.status.description != "Finalizado")
                    {
                        <button class="btn btn-success" data-toggle="modal" data-target="#addCommentModal" data-id="@Model.id">Agregar</button>
                    }
                </div>
            </div>
            <div class="ticket-section">
                <div class="animated-checkbox">
                    <label>
                        <input type="checkbox" id="toggle-document-checkbox" onclick="toggleDocuments()"><span class="label-text">Mostrar Documentos</span>
                    </label>
                </div>
                <div id="documents-container" style="display: none;">
                    @if (Model.documents != null && Model.documents.Count > 0)
                    {
                        foreach (var item in Model.documents)
                        {
                            <h5>
                                <span class="d-inline-block">@Html.DisplayFor(m => item.nameDocument)</span>
                                <span class="d-inline-block ml-2">
                                    <button class="btn btn-success btn-sm" onclick="downloadDocument('@item.name')">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info btn-sm" onclick="viewDocument('@item.name')">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </h5>

                        }
                    }
                    else
                    {
                        <p>No hay documentos disponibles.</p>
                    }
                </div>
            </div>

            <div class="tile-footer">
                <a href="javascript:history.go(-1)" class="btn btn-secondary">Volver atrás</a>
            </div>
        </div>
    </div>
</div>

@section modals{
    <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCommentModalLabel">Agregar Comentario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="ticketId" value="@Model.id" />
                    <div class="form-group">
                        <label for="comment">Mensaje</label>
                        <textarea class="form-control" id="comment" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarComentario()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="clienteV" tabindex="-1" role="dialog" aria-labelledby="clienteV" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="tile">
                    <h3 class="tile-title">Ver Cliente</h3>
                    <hr>
                    <div class="form-group">
                        <h5 class="control-label">Nombre</h5>
                        <h6 class="control-label">@Model.client.name</h6>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label">Apellidos</h5>
                        <h6 class="control-label">@Model.client.lastName</h6>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label">Correo</h5>
                        <h6 class="control-label">@Model.client.mail</h6>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label">Teléfono</h5>
                        <h6 class="control-label">@Model.client.phone</h6>
                    </div>
                    <div class="form-group">
                        <label asp-for="active" class="control-label">Estado</label>
                        @if (@Model.client.active == true)
                        {
                            <div>
                                <span asp-for="active" class="badge badge-pill badge-success">Activo</span>
                            </div>
                        }
                        else
                        {
                            <div>
                                <span asp-for="active" class="badge badge-pill badge-danger">Desactivo</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script src="~/js/exjsmain.js"></script>
    <script>
        function downloadDocument(documentName) {
            var url = '@Url.Action("DownloadDocument", "Ticket")'; // Reemplaza "NombreControlador" por el nombre real de tu controlador

            // Realizar una solicitud de descarga mediante una redirección
            window.location.href = url + "?name=" + documentName;
        }
        function viewDocument(documentName) {
            var url = '@Url.Action("ViewDocument", "Ticket")'; // Reemplaza "NombreControlador" por el nombre real de tu controlador

            // Abrir el documento en una nueva ventana del navegador
            window.open(url + "?name=" + documentName, "_blank");
        }
    </script>
}