@model OdinWeb.Models.Obj.TicketsXSupervisorViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 15px;
        }

        h1, h3 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .total-row {
            font-weight: bold;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <h1>Reporte de Tiquetes Por Supervisor</h1>
    <hr />
    <h3>Filtrado desde @Model.desde hasta @Model.hasta</h3>
    <br />
    <table>
        <thead>
            <tr>
                <th>Supervisor</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.CantidadTicketsPorSupervisor)
            {
                <tr>
                    <td>@ticket.SupervisorName</td>
                    <td>@ticket.CantidadTickets</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.CantidadTicketsPorSupervisor.Count() == 0)
    {
        <h4 style="text-align: center; margin: 25px 0px 50px 0px;">No hay informacion de tickets</h4>
    }
    <div class="footer">
        <p>Fecha de generación: @System.DateTime.Now.Date.ToString("yyyy-MM-dd")</p>
        @if (Context.Request.Cookies.ContainsKey("NombreCompleto"))
        {
            <p>Reporte generado por: @Context.Request.Cookies["NombreCompleto"]</p>
        }
    </div>
    <div class="tile-footer" style="padding-right: 20px; display: flex; justify-content: end">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="PDF"><i </i>Atras</a>
    </div>
</body>