@model IEnumerable<OdinWeb.Models.Obj.User>
@{
    ViewData["Title"] = "Clientes";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-users"></i> Administración de Clientes</h1>
        <p>Clientes registrados</p>
        <br>
        <a asp-action="Crear" asp-controller="Cliente" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Cliente">Clientes</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tusers">
                        <thead>
                            <tr>                            
                                <th>@Html.DisplayNameFor(model => model.name)</th>
                                <th>@Html.DisplayNameFor(model => model.lastName)</th>
                                <th>@Html.DisplayNameFor(model => model.mail)</th>
                                <th>@Html.DisplayNameFor(model => model.phone)</th>
                                <th>@Html.DisplayNameFor(model => model.rol)</th>
                                <th>@Html.DisplayNameFor(model => model.branch)</th>
                                <th>@Html.DisplayNameFor(model => model.active)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model != null){
                                foreach(var user in Model){
                                    <tr>
                                        <td>@Html.DisplayFor(model => user.name)</td>
                                        <td>@Html.DisplayFor(model => user.lastName)</td>
                                        <td>@Html.DisplayFor(model => user.mail)</td>
                                        <td>@Html.DisplayFor(model => user.phone)</td>
                                        <td>@Html.DisplayFor(model => user.rol.name)</td>
                                        <td>@Html.DisplayFor(model => user.branch.name)</td>
                                        <td>
                                        @if (user.active == true)
                                        {
                                            <h5><span asp-for="active" class="badge badge-pill badge-success">Activo</span></h5>
                                        }
                                        else
                                        {
                                            <h5><span asp-for="active" class="badge badge-pill badge-danger">Inactivo</span></h5>
                                        }
                                        </td>
                                        <td>
                                            <div class="bs-component">
                                                <a class="btn btn-dark" asp-action="Ver" asp-controller="Cliente" asp-route-id="@user.id" data-toggle="tooltip" data-placement="left" title="" data-original-title="Informacion"><i class="fa fa-lg fa-eye"></i></a>
                                                <a class="btn btn-dark" asp-action="Editar" asp-controller="Cliente" asp-route-id="@user.id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="fa fa-lg fa-edit"></i></a>
                                                <button class="btn btn-dark cambiar-estado-btn" data-id="@user.id" data-toggle="tooltip" data-placement="right" title="" data-original-title="Cambiar estado"><i class="fa fa-refresh"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#tusers').DataTable();</script>
    <script>
        $(document).ready(function () {
            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que deseas cambiar el estado del cliente?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("Eliminar", "Cliente")',
                            type: 'POST',
                            data: { id: id },
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'Se ha cambiado el estado correctamente.', 'success').then(function () {
                                    // Recargar la página
                                    location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });

    </script>
}

