@model IEnumerable<OdinWeb.Models.Obj.User>
@{
    ViewData["Title"] = "Clientes";
}
<div class="app-title">
    <div>
        <h1><i ></i> Administración de Clientes</h1>
        <p>Clientes registrados</p>
        <br>
        <a asp-action="Crear" asp-controller="Cliente" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Cliente">Clientes</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tusers">
                        <thead>
                            <tr>                            
                                <th>@Html.DisplayNameFor(model => model.name)</th>
                                <th>@Html.DisplayNameFor(model => model.lastName)</th>
                                <th>@Html.DisplayNameFor(model => model.mail)</th>
                                <th>@Html.DisplayNameFor(model => model.phone)</th>
                                <th>@Html.DisplayNameFor(model => model.rol)</th>
                                <th>@Html.DisplayNameFor(model => model.branch)</th>
                                <th>@Html.DisplayNameFor(model => model.active)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model != null){
                                foreach(var user in Model){
                                    <tr>
                                        <td>@Html.DisplayFor(model => user.name)</td>
                                        <td>@Html.DisplayFor(model => user.lastName)</td>
                                        <td>@Html.DisplayFor(model => user.mail)</td>
                                        <td>@Html.DisplayFor(model => user.phone)</td>
                                        <td>@Html.DisplayFor(model => user.rol.name)</td>
                                        <td>@Html.DisplayFor(model => user.branch.name)</td>
                                        @if (user.active == true)
                                        {
                                            <td><span asp-for="active" class="badge badge-pill badge-success">Activo</span></td>
                                        }
                                        else
                                        {
                                            <td><span asp-for="active" class="badge badge-pill badge-danger">Desactivo</span></td>
                                        }
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-dark" asp-action="Ver" asp-controller="Cliente" asp-route-id="@user.id"><i class="fa fa-lg fa-eye"></i></a>
                                                <a class="btn btn-dark" asp-action="Editar" asp-controller="Cliente" asp-route-id="@user.id"><i class="fa fa-lg fa-edit"></i></a>
                                                <button class="btn btn-dark" data-toggle="modal" data-target="#confirmDeleteModal" data-id="@user.id"><i class="fa fa-lg fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal de confirmación de eliminación -->
@section modals {
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar este servicio?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="eliminar()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#tusers').DataTable();</script>
    <script>
        var idToDelete; // Variable para almacenar el ID del elemento a eliminar

        $('#confirmDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Botón que activó el modal
            idToDelete = button.data('id'); // Obtener el ID del atributo "data-id" del botón
        });

        function eliminar() {
            var url = '@Url.Action("Eliminar", "Cliente")' + '/' + idToDelete;
            window.location.href = url;
        }
    </script>

}

