@{
    ViewData["Title"] = "Servicio";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Administración de Servicios</h1>
        <p>Servicios Ofrecidos</p>
        </br>
        @Html.ActionLink("Crear", "Crear", "Servicio", null, new { @class = "btn btn-primary", @type = "button"})

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tiquetes</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tservicios">
                        <thead>
                            <tr>
                                <th>No Servicio</th>
                                <th>Descipcion</th>
                                <th>Costo</th>
                                <th>Sede</th>
                                <th>Tiempo estimado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Diseño de nuevo radiador</td>
                                <td>150.000</td>
                                <td>SanJose</td>
                                <td>2 semanas</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="@Url.Action("Ver","Servicio")"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="@Url.Action("Editar","Servicio")"><i class="fa fa-lg fa-edit"></i></a>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmDeleteModal"><i class="fa fa-lg fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Instalacion de radiador</td>
                                <td>50.000</td>
                                <td>San Jose</td>
                                <td>2 dias</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="@Url.Action("Ver","Servicio")"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="@Url.Action("Editar","Servicio")"><i class="fa fa-lg fa-edit"></i></a>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmDeleteModal"><i class="fa fa-lg fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Reparación de radiador</td>
                                <td>30.000</td>
                                <td>San Jose</td>
                                <td>1 Semana</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="@Url.Action("Ver","Servicio")"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="@Url.Action("Editar","Servicio")"><i class="fa fa-lg fa-edit"></i></a>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmDeleteModal"><i class="fa fa-lg fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Radiador intercooler</td>
                                <td>75.000</td>
                                <td>San Jose</td>
                                <td>3 dias</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="@Url.Action("Ver","Servicio")"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="@Url.Action("Editar","Servicio")"><i class="fa fa-lg fa-edit"></i></a>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmDeleteModal"><i class="fa fa-lg fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este servicio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/plugins/jquery.datatables.min.js"></script>
<script src="~/js/plugins/datatables.bootstrap.min.js"></script>
<script type="text/javascript">$('#tservicios').DataTable();</script>