@model OdinWeb.Models.Obj.Service
@inject OdinWeb.Models.Data.Interfaces.IServicioModel servicio;
@inject OdinWeb.Models.Data.Interfaces.ITicketModel ticket;
@{
    ViewData["Title"] = "Ver Servicio";
    string nombreS = null;
    if (Model.idServiceMain!=null)
    {
        nombreS = servicio.GetServicioById(Model.idServiceMain).name;
    }
    var lTickets = ticket.GetTiketViewBySelect(1, Model.id).Result;

}
<style>
    /* Define the styling for the section separator */
    .section-separator {
        border-top: 1px solid #ddd; /* Adjust the color as needed */
        margin: 10px auto; /* Adjust the margin as needed */
        width: 50%; /* Adjust the width as needed */
    }

    .modal-dialog {
        max-width: 1000px; /* Puedes ajustar este valor según tus necesidades */
    }
</style>
<div class="app-title">
    <div>
        <h1><i class="fa fa-solid fa-car"></i> Administración de Servicios</h1>
        <p>Servicios Ofrecidos</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Servicio"> Servicios</a></li>
        <li class="breadcrumb-item active"><a asp-action="Ver" asp-controller="Servicio"> Información</a></li>
    </ul>
</div>
<div class="col-md-8" style="margin: 0 auto;">
    <div class="tile">
        <h3 class="tile-title">Ver Servicio</h3>
        <hr>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            @if (!string.IsNullOrEmpty(Model.photo))
                            {
                                <img src="~/images/services/@Model.photo" alt="Imagen del servicio" width="200" width="200">
                            }
                            else
                            {
                                <p>No hay imagen disponible.</p>
                            }
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Estado del Servicio</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>
                                        @if (Model.active)
                                        {
                                            <span asp-for="active" class="badge badge-pill badge-success">Activo</span>
                                        }
                                        else
                                        {
                                            <span asp-for="active" class="badge badge-pill badge-danger">Inactivo</span>
                                        }
                                    </h5>
                                </div>
                                <div class="tile-footer"></div> <!-- Add a subtle separator -->

                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Requiere Transporte</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>
                                        @if (Model.transport)
                                        {
                                            <span asp-for="transport" class="badge badge-pill badge-success">Activo</span>
                                        }
                                        else
                                        {
                                            <span asp-for="transport" class="badge badge-pill badge-danger">Inactivo</span>
                                        }
                                    </h5>
                                </div>
                                                        <div class="tile-footer"></div> <!-- Add a subtle separator -->
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Asignado al Administrador</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>
                                        @if (Model.toAdministrator)
                                        {
                                            <span asp-for="toAdministrator" class="badge badge-pill badge-success">Activo</span>
                                        }
                                        else
                                        {
                                            <span asp-for="toAdministrator" class="badge badge-pill badge-danger">Inactivo</span>
                                        }
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tile-footer"></div> <!-- Add a subtle separator -->
                        <h5>Nombre del Servicio</h5>
                        <p>@Model.name</p>
                        <div class="tile-footer"></div> <!-- Add a subtle separator -->
                        <h5>Descripción</h5>
                        <p>@Model.description</p>
                        <div class="tile-footer"></div> <!-- Add a subtle separator -->
                        <h5>Requerimientos</h5>
                        <p>@Model.requirements</p>
                        <div class="tile-footer"></div> <!-- Add a subtle separator -->
                        <h5>Categoria</h5>
                        @if (Model.idServiceMain != null)
                        {
                            <p>Sub Servicio</p>
                            <p>Servicio asociado: @nombreS</p>
                        }
                        else
                        {
                            <p>Servicio</p>
                        }
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input type="checkbox" id="showTicketModal"><span class="label-text"></span>
                                </label>
                                <label class="control-label">Ver tiquetes asociados al servicio</label>
                            </div>
                        </div>
                    </div>
                    
            </div>

        </div>
        <div class="tile-footer">
            <a class="btn btn-secondary" asp-action="Home" asp-controller="Servicio" onclick="history.back();">
                <i class="fa fa-fw fa-lg fa-arrow-left"></i>Volver
            </a>
        </div>
    </div>
</div>
@section modals{
        <div class="modal fade" id="tabletickect" tabindex="-1" role="dialog" aria-labelledby="tabletickect" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCommentModalLabel">Tiquetes asociados</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="ttiquete">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Tiltulo</th>
                                        <th>Cliente</th>
                                        <th>Supervisor</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var ticket in lTickets)
                                        {
                                            <tr>
                                                <td>Cod-@Html.DisplayFor(model => ticket.id)</td>
                                                <td>@Html.DisplayFor(model => ticket.title)</td>
                                                <td>@Html.Raw(ticket.client.name + " " + ticket.client.lastName)</td>
                                                <td>@Html.Raw(ticket.supervisor.name + " " + ticket.supervisor.lastName)</td>
                                                <td>
                                                    <div class="bs-component">
                                                        <a class="btn btn-dark" asp-action="Ver" asp-controller="Ticket" asp-route-id="@ticket.id" data-toggle="tooltip" data-placement="left" title="" data-original-title="Informacion"><i class="fa fa-lg fa-eye"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
                    </div>
                </div>
            </div>
        </div>
}
@section Scripts{
        <script src="~/js/plugins/jquery.datatables.min.js"></script>
        <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
        <script type="text/javascript">$('#ttiquete').DataTable();</script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var checkbox = document.getElementById("showTicketModal");
                var modal = document.getElementById("tabletickect");

                checkbox.addEventListener("change", function () {
                    if (checkbox.checked) {
                        $(modal).modal("show");
                        checkbox.checked = false; // Desmarcar el checkbox

                    }
                });
            });
            var subServiceCheck = document.getElementById('subServiceCheck');
            //Comprueba apenas inicia
            comprueba()

            function comprueba() {
                var comboService = document.getElementById('subService');
                if (subServiceCheck.checked) {
                    //Activado
                    comboService.classList.remove("subService");
                } else {
                    //Desactivado
                    comboService.classList.add("subService");
                }
            }
        </script>
 }
