@model OdinWeb.Models.Obj.Service
@{
    ViewData["Title"] = "Ver Servicio";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Administración de Servicios</h1>
        <p>Servicios Ofrecidos</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Servicio"> Servicios</a></li>
        <li class="breadcrumb-item active"><a asp-action="Ver" asp-controller="Servicio"> Información</a></li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Ver Servicio</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <h5 class="control-label">Nombre</h5>
                        <h6 class="control-label">@Model.name</h6>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label">Descripción</h5>
                        <h6 class="control-label">@Model.description</h6>
                    </div>
                    <div class="form-group">
                        <label asp-for="active" class="control-label">Estado</label>
                        @if (@Model.active == true)
                        {
                           <div>
                                <span asp-for="active" class="badge badge-pill badge-success">Activo</span>
                           </div>
                        }
                        else
                        {
                            <div>
                                <span asp-for="active" class="badge badge-pill badge-danger">Desactivo</span>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @if(Model.idServiceMain != null){
                            <input type="checkbox" id="subServiceCheck" disabled checked>
                        }else{
                            <input type="checkbox" id="subServiceCheck" disabled>
                        }
                        <label class="control-label" >Crear como sub servicio</label>
                    </div>
                    <div class="form-group">
                        <span class="subService" id="subService">
                            <label class="control-label">Seleccione el servicio</label>
                            @Html.DropDownList("idServiceMain", (IEnumerable<SelectListItem>)ViewData["Services"], new { @class = "form-control form-select mb-3", @disabled = "disabled" })
                        </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="requirements" class="control-label"></label>
                        <textarea id="requirements" asp-for="requirements" class="form-control" rows="4" readonly></textarea>
                        <span asp-validation-for="requirements" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="transport" type="checkbox" disabled>
                        <label asp-for="transport" class="control-label"></label>
                        <span asp-validation-for="transport" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="toAdministrator" type="checkbox" disabled>
                        <label asp-for="toAdministrator" class="control-label"></label>
                        <span asp-validation-for="toAdministrator" class="text-danger"></span>
                    </div>
@*                    <div class="form-group">
                        <h5 class="control-label">Tiquetes Creados</h5>
                        <h6 class="control-label">@Model.tickets</h6>
                    </div>*@
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <img src="~/images/services/@Model.photo" alt="Imagen del servicio" width="200" width="200">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen de servicio</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-footer">
            <a class="btn btn-secondary" asp-action="Home" asp-controller="Servicio" onclick="history.back();">
                <i class="fa fa-fw fa-lg fa-arrow-left"></i>Volver
            </a>
        </div>
    </div>
</div>

<script>
    var subServiceCheck = document.getElementById('subServiceCheck');
    //Comprueba apenas inicia
    comprueba()

    function comprueba(){
        var comboService = document.getElementById('subService');
        if(subServiceCheck.checked){
            //Activado
            comboService.classList.remove("subService");
        }else{
            //Desactivado
            comboService.classList.add("subService");
        }
    }
</script>