@inject OdinWeb.Models.Data.Interfaces.ITicketModel Tiquetes
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .chart {
        width: 400px;
        height: 200px;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
    }

    .bar {
        flex: 1;
        background-color: #007bff;
        margin: 0 2px;
        transition: height 0.5s;
    }

    .legend-container {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    .legend-color {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 50%;
    }
</style>

<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Inicio</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
    </ul>
</div>
<h3>Información de estado de tiquetes asignados</h3>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-eye fa-3x"></i>
            <div class="info">
                <h4>En Revisión</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Asignado").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-exclamation-triangle fa-3x"></i>
            <div class="info">
                <h4>Falta de información</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Pendiente información").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>En Proceso</h4>
                <p><b>@Tiquetes.GetAssignedTickets("En Proceso").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>Finalizado</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Finalizado").Count()</b></p>
            </div>
        </div>
    </div>
</div>
<br />
<h3>Información general de tiquetes</h3>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-eye fa-3x"></i>
            <div class="info">
                <h4>En Revisión</h4>
                <p><b>@Tiquetes.GetTicketsByStatus("Asignado").Result.Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-exclamation-triangle fa-3x"></i>
            <div class="info">
                <h4>Falta de información</h4>
                <p><b>@Tiquetes.GetTicketsByStatus("Pendiente información").Result.Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>En Proceso</h4>
                <p><b>@Tiquetes.GetTicketsByStatus("En Proceso").Result.Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>Finalizados</h4>
                <p><b>@Tiquetes.GetTicketsByStatus("Finalizado").Result.Count()</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Tiquetes por tiempo transcurrido</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="graficoTiempos"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Gráfico general de Tiquetes</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
            <!-- Agregar un contenedor para la leyenda -->
            <div id="legendContainer" class="legend-container"></div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        fetch("/Ticket/GetTicketsOpen_Close")
            .then(response => response.json())
            .then(data => {
                var pdata = [
                    {
                        value: data.cerrados,
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "Cerrados"
                    },
                    {
                        value: data.abiertos,
                        color: "#F7464A",
                        highlight: "#FF5A5E",
                        label: "Abiertos"
                    }
                ];

                // Calcular el valor total de los datos
                var dataTotal = pdata.reduce((total, current) => total + current.value, 0);

                var ctxp = $("#pieChartDemo").get(0).getContext("2d");
                var pieChart = new Chart(ctxp).Pie(pdata, {
                    tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> (<%= Math.round(circumference / 6.283 * 100) %>%)"
                });

                // Agregar la leyenda al gráfico de pie
                var legendContainer = document.getElementById("legendContainer");
                var legendHtml = '<ul class="legend">';
                for (var i = 0; i < pdata.length; i++) {
                    legendHtml += '<li class="legend-item">';
                    legendHtml += '<span class="legend-color" style="background-color:' + pdata[i].color + '"></span>';
                    legendHtml += '<span class="legend-label" style="margin-right:5px">' + pdata[i].label + ' ' + '</span>';
                    legendHtml += '<span class="legend-value">' + pdata[i].value + ' (' + Math.round(pdata[i].value / dataTotal * 100) + '%)</span>';
                    legendHtml += '</li>';
                }
                legendHtml += '</ul>';
                legendContainer.innerHTML = legendHtml;
            })
            .catch(error => {
                console.error("Error al obtener los datos: " + error);
            });

        fetch("/Ticket/GetTicketsXTime")
            .then(response => response.json())
            .then(d => {
                console.log(d);
                var data = {
                    labels: [],
                    datasets: [
                        {
                            label: "My First dataset",
                            backgroundColor: "rgba(220,220,220,0.2)",
                            borderColor: "rgba(220,220,220,1)",
                            borderWidth: 1,
                            data: []
                        }
                    ]
                };
                d.forEach(function (element, index, array) {
                    data.labels.push(element.ticketId);
                    data.datasets[0].data.push(element.tiempoTranscurrido);
                });
                

                var ctx = $("#graficoTiempos").get(0).getContext("2d");
                var pieChart = new Chart(ctx).Bar(data);
            })
            .catch(error => {
                console.error("Error al obtener los datos: " + error);
            });
    </script>
}