@model OdinWeb.Models.Obj.User
@{
    ViewData["Title"] = "Ver Supervisor";
}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Ver Supervisor</h3>
        <div class="tile-body">
            <div class="form-group">
                <h5 class="control-label">Nombre</h5>
                <h6 class="control-label">@Model.name</h6>
            </div>
            <div class="form-group">
                <h5 class="control-label">Apellidos</h5>
                <h6 class="control-label">@Model.lastName</h6>
            </div>
            <div class="form-group">
                <h5 class="control-label">Correo</h5>
                <h6 class="control-label">@Model.mail</h6>
            </div>
            <div class="form-group">
                <h5 class="control-label">Teléfono</h5>
                <h6 class="control-label">@Model.phone</h6>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                @foreach (var opcion in (List<SelectListItem>)ViewData["Estados"])
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            <input asp-for="active" class="form-check-input" type="radio" name="active" value="@opcion.Value" disabled> @opcion.Text
                        </label>
                    </div>
                }
            </div>
            <div>
                <label>Seleccione la sucursal</label>
                @Html.DropDownList("idBranch", (IEnumerable<SelectListItem>)ViewData["Branches"], new { @class = "form-control form-select mb-3", @disabled = "disabled" })
            </div>
        </div>
        <div class="tile-footer">
            <a class="btn btn-secondary" asp-action="Home" asp-controller="Supervisor"><i class="fa fa-fw fa-lg fa-arrow-left"></i>Volver</a>
        </div>
    </div>
</div>
